html{
    background-color: rgb(215, 255, 255);
}

body{
    margin: 0;
}

h1{
    margin: 0;
}

.branded-border{
    border-bottom: 10px dotted rgb(11, 10, 10);
    padding: 10px;
    
}

.main-header{
    background-color: bisque;
    padding: 30px;
}

.viburnums-header{
    background-color: #8a2be2;
    color: white;
    padding: 30px;
    margin-bottom: 20px;
}

.nav-links{
    color: white;
}

.viburnums-main{
    background-color: cadetblue;
    padding: 30px;
    margin-bottom: 20px;
}

.viburnums-footer{
    background-color: aquamarine;
    padding: 30px;
}

.uwm-header{
    background-color: #8a2be2;
    color: white;
    padding: 30px;
    margin-bottom: 30px;
}

.uwm-main{
    padding: 30px;
    margin-bottom: 30px;
}

.uwm-footer{
    background-color: blue ;
    color: white;
    padding: 30px;
    margin-bottom: 30px;
}